body {
  background-color: rgb(144, 193, 253);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.box {
  width: 800px;
  height: 700px;
  background-color:black;
  border-radius: 20px;
  box-shadow: 5px 5px 10px gray;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box h1 {
  color: gold;
  background-color: black;
  position: absolute;
  top:5%;
  width:fit-content;
  height: fit-content;
  text-align: center;
  margin: 0;
  font-style: italic;
  font-size:xx-large;
  align-items: center;
    justify-content: center;
  
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.bulb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.switch {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}